assets/cities/*
!assets/cities/NEWCITY.SC2
!assets/cities/TESTCITY.SC2
assets/images/*
assets/import/*
assets/tiles/*
node_modules/
dist/*
.DS_Store
.gitignore
*/.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.sublime-project
*.sublime-workspace
*.log