# assets
assets/cities/*
!assets/cities/NEWCITY.SC2
!assets/cities/TESTCITY.SC2
assets/images/*
assets/import/*
assets/tiles/*
assets/tilemap/*
assets/binaries/*
reference_images

# generated
node_modules/
dist/*

# os generated
*.log
*/.DS_Store
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
Thumbs.db

# project files
*.sublime-project
*.sublime-workspace
.vscode/
