html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
  image-rendering: optimizeSpeed;              /* Older versions of FF */
  image-rendering: -moz-crisp-edges;           /* FF 6.0+ */
  image-rendering: -webkit-optimize-contrast;  /* Webkit (non standard naming) */
  image-rendering: -o-crisp-edges;             /* OS X & Windows Opera (12.02+) */
  image-rendering: crisp-edges;                /* Possible future browsers. */
  -ms-interpolation-mode: nearest-neighbor;    /* IE (non standard naming) */
  image-rendering: pixelated;                  /* Chrome 41 */
}

#fileOpen {
  visibility: hidden;
}

.ui-container {
  top: 0;
  left: 0;
  position: absolute;
}

.toolbar {
  top: 50px;
  left: 50px;
}