* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
  display: block;
  background-color: #371700;
}

#interfaceCanvas, #scaledInterfaceCanvas, #vectorCanvas, #animationCanvas, #primaryCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
